<div class="mat-app-background" [class.dark]="dark">
  <h1>Hello World</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur minus
    dolor at temporibus obcaecati fugit, ea magnam, corrupti ut dicta quam porro
    eius facere facilis tempore? Voluptatem sit eum animi.
  </p>

  <button mat-flat-button color="primary">SUBMIT</button>

  <div style="margin-top: 1rem"></div>

  <!-- Button: Toggle Theme -->
  <button mat-icon-button (click)="dark = !dark" color="primary">
    <mat-icon>light_mode</mat-icon>
  </button>

  <div style="margin-top: 1rem"></div>

  <h1>Custom SVG Icons</h1>

  <!-- Plain Custom SVG -->
  <button mat-icon-button>
    <mat-icon svgIcon="my-star"></mat-icon>
  </button>

  <!-- Custom SVG 1 -->
  <button mat-icon-button color="warn">
    <mat-icon svgIcon="my-star"></mat-icon>
  </button>

  <!-- Custom SVG 2 -->
  <button mat-icon-button color="accent">
    <mat-icon svgIcon="my-star"></mat-icon>
  </button>

  <!-- Custom SVG 3 -->
  <button mat-icon-button color="primary">
    <mat-icon svgIcon="my-star"></mat-icon>
  </button>

  <app-code-snippet></app-code-snippet>
</div>
